.board {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  height: 720px;
  width: 720px;
}

.generate {
  color: black;
  font-size: 50px;
  margin: 10px 0;
  margin-right: 20px;
  text-align: center;
}
